{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dash.css' %}">
{% endblock %}
<div class="text">Dashboard</div>
<div class="wrapper">

    <div class="card">
      <div class="text"><i class="fa-solid fa-user"></i>TODAY'S CALLS</div>
      <div class="divide" >0/0</div>
      <div class="line">
        <div class="bar2" style="width: 65%;"></div>
      </div>
    </div>
    
    <div class="card">
      <div class="text"><i class="fa-solid fa-user"></i>TODAY'S LEADS</div>
      <div class="divide" >0/0</div>
      <div class="line">
        <div class="bar2" style="width: 40%;"></div>
      </div>
    </div>

    <div class="card">
      <div class="text"><i class="fa-solid fa-user"></i>TODAY'S CLOSING</div>
      <div class="divide" >0/0</div>
      <div class="line">
        <div class="bar2" style="width: 90%;"></div>
      </div>
    </div>

    <div class="card">
      <div class="text"><i class="fa-solid fa-user"></i>CUMULATIVE LEADS</div>
      <div class="divide" >0/0</div>
      <div class="line">
        <div class="bar2" style="width: 0;"></div>
      </div>
    </div>
  </div>

  <div class="parent-container">
      <div class="wrapper1">
          <div class="container">
              <h2>CALL REPORT </h2>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="wrapper1">
          <div class="container">
              <h2>LAED REPORT </h2>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="wrapper1">
          <div class="container">
              <h2>PERFOMANCE OVERVIEW </h2>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
              <div class="skills">
                  <div class="details">
                      <span>UPDATE</span>
                      <span>0%</span>
                  </div>
                  <div class="line">
                      <div class="bar2" ></div>
                  </div>
              </div>
          </div>
      </div>
        
{% endblock %}